* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  min-height: 100vh;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  body, html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  body, html {
    font-size: 12px;
  }
}
